<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> No se pudo guardar esta publicacion:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :titulo %><br>
    <%= f.text_field :title %>
    <%= f.file_field :image %> <br>
    <%= f.label :descripcion %><br>
    <%= f.text_field :description %>
  </div>

  <div class="actions form-group">
    <%= f.submit :Publicar, class: "btn btn-primary" %>
  </div>
<% end %>
