<div class="row">
	<div class="span6 offset3">
		<div class="well" align="center">

			<%= image_tag @post.image %>
			<hr>
		<br>
			<p>
			  <h2><strong>Titulo:</strong>
			  <%= @post.title %></h2>
			</p>
			<p>
			  <h3><strong>Descripcion:</strong>
			  <%= @post.description %></h3>
			</p>

			<p>
			  <h4><strong>Publicado por:</strong>
			  <%= @post.user.email %> - Fecha: <%= @post.created_at %></h4>
			</p>
			<hr style="color: #0056b2;" />
			
				<h2 >Comentarios!</h2>
				<%= render @post.comments %>
			<hr>
			
	
			<h2>Agrega un comentario:</h2>
			<%= render "comments/form" %>
			
		<%if current_user == @post.user %>
			<%= link_to 'Editar', edit_post_path(@post) %>|<%end%> 
			<%= link_to 'Volver', posts_path %>

		</div>
	</div>
</div>


